header {
    position: fixed;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
}

header .logo {
    font-weight: 600;
    font-size: var(--logo-fontSize);
    color: var(--secondary-color);
}

header .navbar {
    padding-block: 25px;
}

header .navbar .nav-link {
    margin-inline: 10px;
    color: var(--paragraph-fontSize);
}

header .navbar .nav-link.active {
    position: relative;
}

header .navbar .nav-link.active:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    border-radius: 50%
}

.bar-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--secondary-color);
    display: none;
    justify-content: center;
    align-items: center;
}

.bar-icon .lines {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bar-icon .lines .line {
    width: 27px;
    height: 2px;
    background: var(--primary-color);
    margin-block: 3px;
    transition: 0.3s;
}

.bar-icon .lines .line2 {
    width: 15px;
    align-self: flex-end;
}

.bar-icon.cross .line2 {
    opacity: 0;
    visibility: hidden;
}

.bar-icon.cross .lines .line {
    margin-block: -1px;

}

.bar-icon.cross .lines .line1 {
    transform: rotate(45deg);
}

.bar-icon.cross .lines .line3 {
    transform: rotate(-45deg);
}




@media (max-width:992px) {}

@media (max-width:768px) {
    .bar-icon {
        display: flex;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 50%);
        background: var(--secondary-color);
        transition: 0.3s;
    }

    header .navbar.show {
        opacity: 1;
        pointer-events: all;
    }

    header .navbar .nav-link {
        width: 100%;
        text-align: center;
        padding-block: 50px;
        cursor: pointer;
    }

    header .navbar .nav-link.active:after {
        display: none;
    }


}

@media (max-width:568px) {}