.circle {
    width: 600px;
    height: 600px;
    border-radius: 50%;
}

header {
    position: fixed;
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: var(--secondary-color); */
    z-index: 1;
}

header .logo {
    font-weight: 600;
    font-size: var(--logo-fontSize);
    color: var(--secondary-color);
}

header .navbar {
    padding-block: 25px;
}

header .navbar .nav-link {
    margin-inline: 10px;
    font-size: var(--paragraph-fontSize);
    color: var(--primary-color);
}

header .navbar .nav-link.active {
    position: relative;
}

header .navbar .nav-link.active:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: var(--primary-color);
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    border-radius: 50%;
}

.bar-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
}

.bar-icon .lines {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bar-icon .lines .line {
    width: 27px;
    height: 2px;
    background: var(--secondary-color);
    margin-block: 3px;
    transition: 0.3s;
}

.bar-icon .lines .line2 {
    width: 15px;
    align-self: flex-end;
}

.bar-icon.cross {
    background: var(--primary-color);
}

.bar-icon.cross .line2 {
    opacity: 0;
    visibility: hidden;
}

.bar-icon.cross .lines .line {
    background: var(--secondary-color);
    margin-block: -1px;
}

.bar-icon.cross .lines .line1 {
    transform: rotate(45deg);
}

.bar-icon.cross .lines .line3 {
    transform: rotate(-45deg);
}

/* banner */

.banner {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    position: relative;
    overflow-x: hidden;
}

.banner .banner-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--secondary-color);
    padding-block: 230px;
    gap: 35px;
}

.banner .banner-content h1 {
    font-size: var(--title-fontSize);
}

.banner .banner-content p {
    max-width: 50%;
    font-size: var(--paragraph-fontSize);
}

.banner .banner-circle {
    position: absolute;
    right: calc(0% - 200px);
    top: calc(0% - 200px);
    background: var(--secondary-color);
}

/* summary */

.summary {
    position: relative;
    background: var(--secondary-color);
    overflow: hidden;
}

.summary .summary-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 100px;
}

.summary .summary-content .summary-circle {
    position: absolute;
    left: calc(0% - 200px);
    bottom: calc(0% - 200px);
    background: var(--primary-color);
}

.summary .summary-content .summary-paragraph {
    flex-basis: 50%;
    text-align: justify;
    margin-left: auto;
}

.service-section {
    height: 100vh;
}

@media (max-width: 992px) {
    .summary {
        background: var(--primary-color);
        isolation: isolate;
    }

    .summary .section-title {
        margin-top: 50px;
    }

    .summary .summary-content .summary-circle {
        --width-and-height: 1200px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: var(--width-and-height);
        height: var(--width-and-height);
        background: var(--secondary-color);
        z-index: -1;
    }

    .summary .summary-content .summary-paragraph {
        flex-basis: 100%;
    }
}

@media (max-width: 768px) {
    header {
        padding-block: 20px;
    }

    header .navbar {
        position: absolute;
        top: 0%;
        width: 100%;
        left: 0;
        opacity: 0;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background: var(--secondary-color);
        transition: 0.3s;
    }

    header .navbar.show {
        opacity: 1;
        pointer-events: all;
        transition-delay: 0.06s;
    }

    header .navbar .nav-link {
        width: 100%;
        text-align: center;
        padding-block: 50px;
        font-size: calc(var(--title-fontSize) - var(--paragraph-fontSize));
        cursor: pointer;
    }

    header .navbar .nav-link.active:after {
        display: none;
    }

    .bar-icon {
        display: flex;
        background: var(--primary-color);
        z-index: 1;
    }

    /* banner */

    .banner {
        width: 100%;
        height: auto;
        background: var(--primary-color);
    }

    .banner .banner-content {
        width: 100%;
        min-height: 500px;
        gap: 50px;
    }

    .banner .banner-content h1 {
        font-size: calc(var(--title-fontSize) - 10px);
    }

    .banner .banner-content p {
        max-width: 60%;
    }

    .banner .banner-circle {
        position: absolute;
        right: calc(0% - 200px);
        top: calc(0% - 200px);
        width: 500px;
        height: 500px;
        background: var(--secondary-color);
        border-radius: 50%;
        transition: 0.5s;
    }

    .banner .banner-circle.scroll {
        position: fixed;
        /* the pixel was suit to this sanario but percentage was fit when shrink or expand the screen */
        right: 30px;
        top: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .banner .banner-circle.show {
        right: -41%;
        top: -50%;
        width: 1200px;
        height: 1200px;
        visibility: visible;
        transform: translate(0%, 0%);
    }
}

@media (max-width: 568px) {
    .bar-icon {
        background: var(--secondary-color);
    }

    .bar-icon .lines .line {
        background: var(--primary-color);
    }

    /* banner */

    .banner .banner-content {
        text-align: center;
    }

    .banner .banner-content p {
        max-width: 100%;
    }

    .banner .banner-circle {
        position: fixed;
        right: 30px;
        top: 20px;
        width: 50px;
        height: 50px;
        visibility: hidden;
        background: var(--secondary-color);
        border-radius: 50%;
    }

    .banner .banner-circle.show {
        right: -50%;
        top: -50%;
        width: 1200px;
        height: 1200px;
        visibility: visible;
        transform: translate(0%, 0%);
    }

    /* summary */
    .summary .summary-content .summary-circle {
        --width-and-height: 700px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: var(--width-and-height);
        height: 100%;
        border-radius: 50% 50% 0 0;
        background: var(--secondary-color);
        z-index: -1;
    }
}

@media (max-width: 480px) {
    .banner .banner-circle {
        right: 7.5%;
        top: 2.5%;
    }
}